.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}


// все title

.title__main__inner{
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 50px;
}
  
.title__main__title{
    font-size: 48px;
    font-weight: 700;
    color: #123b63;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
}

.review__block{
    display: block;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    padding-bottom: 40px;
    border-bottom-color: rgba(var(--color-ipj0dw9ev), 0.1);
    background-color: rgba(var(--color-ipj0dw9ev), 0.1);

}

.review__content__block{
    display: flex;
    flex-wrap: wrap;

}

.review__item{
    background-color: #569ef0;
    border-radius: 10px;
    flex: 0 0 calc(50% - 10px); /* 50% минус отступы между блоками */
    margin: 5px;
}

.review__item__title{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
}
.decor__review{
    width: 99%;
    content: '';
    display: block;
    margin-top: 10px;
    margin-bottom: 12px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}
.review__name{
    font-weight: 500;
    // color: #131324;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.review__name h3{
    font-size: 25px;
    
}
.review__name h5{
    font-size: 15px;
    
}
.review__icon{
    font-size: 35px;
    color: #123b63;
}

.review__item__text{
    padding: 15px 15px;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    // color: #444444;
    color: #fff;
}

@media (max-width: 900px) {
    .review__item {
        flex: 0 0 98%; /* При узком экране блоки занимают всю ширину */
    }
}