.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.form__block p{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
    color: #1A1A1A99;
}

.form__block h3{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #1A1A1A99;
    padding: 5px 0;
}

.form__content{
    margin: 20px 0;
    background-color: #fff;
    border-radius: 8px;
}

.form__inner{
    padding: 20px 20px;
}

.form__head{
    color: #123163;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 22px;
    display: flex;
    justify-content: center;
}

// field
.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
  
  .field__title {
    font-size: 18px;
    font-weight: bold;
    color: #123163;
    margin-bottom: 5px;
  }
  
  .value {
    display: flex;
    flex-direction: column;
  }
  
  .value__text,
  textarea {
    padding: 10px;
    border: 2px solid #123163;
    border-radius: 4px;
    font-size: 16px;
    color: #123163;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    max-width: 400px;
}

.value textarea{
    width: 100%;
    max-width: 600px;
}

.submit__btn{
    background-color: #005fa3;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 18px;
}

.error__message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

@media (max-width: 1000px) {
    .value textarea{
        width: auto;
    }

    .value {
        width: 90%;
    }
      
}
