.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}


.header__block{    
    width: 100%;
    display: flex;
    // justify-content: space-between;
    position: fixed;
    background-color: #123b63;
    top: 0;
    left: 0;
    z-index: 199;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Применение тени с z-index */
}

.menu__link{
    // display: flex;
    justify-content: space-between;
    padding: 15px 10px; 
    align-items: center;
    text-align: center;
    
}


nav{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.nav__link{
    font-size: 16px;
    font-weight: 600;
    padding: 0 20px;

    font-family: 'Raleway', 'sans-serif';
    text-decoration: none;
    color: #fff;
}

.specialButton {
    padding: 7px 10px !important;
    color: #000 !important;
    background-color: #fff !important;
    border-radius: 10px;
}

.adaptive{
    display: none;
}
.logo__text{
    color: #fff;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.burgerIcon {
    display: none; 
    cursor: pointer;
}


.toLinkDiscount{
    text-decoration: none;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color:#FF5050;
}


@media (max-width: 470px){
    .phone__number{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 1000px) {
    .img__logo{
        width: 10%;
    }

    .nav{
        position: absolute;
        top: 0; 
        z-index: 1000;
        left: -255px;
        display: flex;
        flex-direction: column;
        width: 220px;
        height: 100vh;
        background-color: #fff;
        border: 2px solid #e76712;
        transition: transform 0.3s linear;
        display: none;
        padding-top: 40px;
        padding-left: 30px;
    }

    .nav.active{
        transform: translateX(100%);
        display: block;
    }
    

    .nav__link{
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 10px 0;
        color: #123b63;
    }
    .nav__link:nth-child(n + 2){
        margin-left: 0;
    }

    .adaptive{
        display: block;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .burgerIcon {
        display: block; 
        cursor: pointer;
        font-size: 25px;
        color: #fff;
        margin-right: 15px;
    }

    .info__logo{
        display: flex;
        align-items: center;
    }
    .img__logo{
        width: 50px;
        margin-right: 5px;
    }
    .info__block{
        display: flex;
        flex-flow: column;
        text-align: left;
    }
    .phone__number{
        font-size: 20px;
        font-weight: 400;
        color: #fff;
    }

    .menu__link{
        padding: 15px 30px; 
    }
}
  
